.layout-topbar {
  position: fixed;
  height: 4rem;
  z-index: 9999; /* increase to very high */
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--surface-card);
  transition: left var(--layout-section-transition-duration);
  display: flex;
  align-items: center;



  &-logo-container {
    display: flex;
    align-items: center;
  }

  &-logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 0.5rem;

    svg {
      height: 2rem;
      width: auto;
    }
  }

  .layout-menu-button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.25rem;

    &:hover {
      color: var(--primary-color-dark);
    }
  }
}
